*{
	margin:0;
	padding:0;
}
body{
}
#header{
	width: 100%;	
}
#header .top-bar{
	height: 100px;
}
.top-bar h1{
	text-align: center;
	font-size: 18px;
	font-family: permanent marker ;
	text-transform: uppercase;
}
#carousel{ 
	width: 100%;
	overflow: hidden;	
}
#carousel div{
	position: relative;
	left: 799px;
	float: left;
}
#carousel div img{
	width: 40px;
	height: 40px;
}
#carousel div h2{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 16px;
	float: right;
}
.menu{
	width: 100%;
	height: 50px;
	background: #000;
	overflow: hidden;	
}
.menu #collapse{
	position: absolute;
	right: 10px;
	top: 105px;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
}
.menu li{
	text-align: center;
	display:block;
	padding: 16px 26px
}
.menu li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	letter-spacing: 5px;
	transition: font-size 0.3s;
}
.menu li a:hover{
	color: orange;
	font-size: 20px;
}
#wrapper{
	width: 100%;
	min-height: 1000px;
}
@keyframes bd{
	0%{background-size: 100% 100%;}
	100%{background-size: 110% 110%;}
}
#header .banner{
	background-image: url("../images/small.jpeg");
	animation:bd 15s linear alternate infinite;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
}
.banner #textArea{
	background: rgba(0,0,0,0.8);
	height: 400px;
	padding: 4% 8%;
}
 .banner #textArea h1{
	text-align: center;
	color: #fff;
	font-family: georgia sans-serif;
	font-size: 3ex;
	margin-bottom: 30px;
}
.banner #textArea .sep{
	width: 100px;
	height: 5px;
	background: #FF6600;
	position: relative;
	left: 30%;
	margin-top: 10px;
}
.banner #textArea p{
	color: white;
	font-family: sans-serif;
	font-style: italic;
	font-size: 14px;
	text-align: justify;
}
.banner #textArea a{
	text-decoration: none;
	position: absolute;
	left: 25%;
	top:75%;
	padding: 16px 26px;
	border: 1px solid white;
	border-radius: 8px;
	background:transparent;
	text-transform: uppercase;
	color: white;
	font-family: georgia;
}
#wrapper{
	background: rgba(208,208,208,0.2);
}
#wrapper div{
	margin-top: 100px;
	position: relative;
	
	
}
#wrapper div:first-child:after{
	content: "";
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50px;
	top: -80px;
	background-image: url(../images/sales.jpeg);
	background-size: contain;
	border-radius: 100px;
	

}
#wrapper div:nth-child(2):after{
	content: "";
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50px;
	top: -80px;
	background-image: url(../images/strategy.jpeg);
	background-size: 100% 100%;
	border-radius: 100px;
	

}
#wrapper div:nth-child(3):after{
	content: "";
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50px;
	top: -80px;
	background-image: url(../images/dice.png);
	background-size: contain;
	border-radius: 100px;
	

}
#wrapper div:first-child{
	min-width: 52px;
	margin-left: 15px;
	margin-right: 15px;
	height: 250px;
	border-radius: 8px;
	background: rgba(208,208,208,0.5);
	box-shadow: 10px 15px 10px #C0C0C0;
	transition: margin 0.2s;
}
#wrapper div:nth-child(2){
	min-width: 52px;
	margin-left: 15px;
	margin-right: 15px;
	height: 250px;;
	background: rgba(208,208,208,0.5);
	box-shadow: 10px 15px 10px #C0C0C0;
	border-radius: 8px;
 	-webkit-transition:margin 1s;
}
#wrapper div:nth-child(3){
	min-width: 52px;
	margin-left: 15px;
	margin-right: 15px;
	height: 250px;
	background: rgba(208,208,208,0.5);
	box-shadow: 10px 15px 10px #C0C0C0;
	border-radius: 8px;
	-webkit-transition:margin 2s;
}
#wrapper div:nth-child(4){
	width: 100%;
	height: 450px;
	-webkit-transition:margin 3s;
}
#wrapper div:nth-child(5){
	width: 100%;
	height: 450px;
	float:left;
	-webkit-transition:margin 3s;
}
#wrapper div:nth-child(6){
	width: 100%;
	height: 450px;
	float:left;
	-webkit-transition:margin 3s;
}
#wrapper div p{
	color: black;
	padding-top: 86px;
	padding-bottom: 36px;
	margin: 16px 26px;
	font-family: georgia;
	font-size: 16px;
	text-align: justify;
}
#wrapper div a:lang(sm){
	text-decoration: none;
	color: white;
	margin: 10px 20px;
	padding: 16px 26px;
	font-family: georgia;
	font-size: 18px;
	background: maroon;
	border-radius: 5px;
	
}
#wrapper div a{
	text-decoration: none;
	color: white;
	padding: 16px 26px;
	font-family: georgia;
	font-size: 18px;
	background: maroon;
	border-radius: 5px;
	
}
#wrapper div:nth-child(4) img{
	width: 40%;
	height: 40%;
	padding-top: 5%;
	padding-bottom: 2%;
}
#wrapper div:nth-child(4) h1{
	position: absolute;
	width: 55%;
	right: 5px;
	color: #505050;
	font-family: georgia;
	font-size: 16px;
}
#wrapper div:nth-child(4) h3{
	width: 55%;
	position: absolute;
	top: 10%;
	right: 5px;
	color: #000000;
	font-family: georgia;
	font-size: 14px;
	text-align: justify;
}
#wrapper div:nth-child(4) a{
	position: absolute;
	top: 50%;
	right: 2%;
	font-size: 14px;
}
#wrapper div:nth-child(5) img{
	float: right;
	width: 40%;
	height: 40%;
	padding-top: 5%;
	padding-bottom: 2%;
}
#wrapper div:nth-child(5) h1{
	position: absolute;
	width: 55%;
	left: 5px;
	color: #505050;
	font-family: georgia;
	font-size: 16px;
}
#wrapper div:nth-child(5) h3{
	width: 55%;
	position: absolute;
	top: 10%;
	left: 5px;
	color: #000000;
	font-family: georgia;
	font-size: 14px;
	text-align: justify;
}
#wrapper div:nth-child(5) a{
	position: absolute;
	top: 50%;
	left: 2%;
	font-size: 14px;
}
#wrapper div:nth-child(6) img{
	width: 40%;
	height: 40%;
	padding-top: 5%;
	padding-bottom: 2%;
}
#wrapper div:nth-child(6) h1{
	position: absolute;
	width: 55%;
	top: 20%;
	right: 5px;
	color: #505050;
	font-family: sans-serif;
	text-transform: lowercase;
	font-style: italic;
	font-weight: bolder;
	font-size:16px;
}

.footer{
	padding-top: 2%;
	padding-left: 2%;
	column-count:4;
	column-gap:20px;
	column-rule: 1px,solid,white;
	column-width:60px;
	max-height: 200px;
	background: rgba(0,0,0,0.8);
}
.footer a{
	display: block;
	text-decoration: none;
	margin:16px 20px;
	color: white;
	font-size: 14px;	
}
#copywright{
	background: black;
	color: white;
	padding: 16px 26px;
	text-align: center;
}
